.category-form {
  height: 30vh;
  width: 30vh;
  background-color: #708090;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}
.category-form input {
  outline: none;
  border: none;
  border-radius: 5px;
}

.category-form select {
  outline: none;
  border: none;
  border-radius: 5px;
}

.category-form button {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 5px;
}
.category-form-active:hover {
  opacity: 1 !important; /* Ensure opacity is normal when the form is active */
}
.category-form-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2; /* Optional: ensure it is on top of other elements */
}

.category-form input {
  width: 80%;
}

.category-form select {
  width: 82%;
}

.category {
  padding: 5%;
  width: 80%;

  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  border-radius: 10px;
  align-items: center;
}
.category:hover {
  opacity: 0.5;
}

.category-buttons {
  display: flex;
  justify-content: space-between;

  height: 100%;

  width: 30%;
  align-items: center;
}

.category-button {
  color: white;
}
.category-button:hover {
  scale: 1.4;
}
